.sidepane {
  position: fixed;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 100%;
  background-color: white;
  border-left: 2px solid gray;
  transition: 0.25s ease-in;
  z-index: 1;
}

.isOpen {
  transform: translateX(-70%);
}

.isClosed {
  transform: translateX(0);
}
