.beerDisplay {
    flex: 1 1 auto;
    flex-wrap: wrap;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    align-items: center;
  }
  
  .beerImage {
    padding-bottom: 1em;
  }
  