.productDisplay {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    align-items: center;
  }
  
  .productImage {
    padding-bottom: 1em;
  }
  
  .imageContainer {
    height: 75vh;
  }