.main {
  position: relative;
  overflow: hidden;
}

.heading {
  text-align: center;
  margin: 0 0 1em;
  padding: 0.5em 0;
  background-color: var(--punk-blue);
}

.productContent {
  display: flex;
  flex-wrap: wrap;
}

.filterButton {
  position: absolute;
  top: 10px;
  right: 10px;
}

.basketButton {
  position: absolute;
  top: 10px;
  right: 55px;
  display: flex;
  align-items: center;
}

.basketCount {
  font-size: 10px;
  margin-left: 0.3em
}
